.modal {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #fff;
    max-width: 520px;
    min-height: 475px;
    padding: 60px;
  }
  
  & #modal-confirm {
    display: none;
    min-height: 290px;
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;
  }

  &__label {
    font-size: 14px;
    align-self: start;
    margin-top: 20px;

    &:first-of-type {
      margin-top: 40px;
    }

    & span {
      color: #6CB71D;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #E4E4E4;
    margin-top: 7px;
  }

  &__text {
    font-size: 16px;
    margin-top: 40px;
  }

  &__btn {
    margin-top: 30px;
    width: 156px;
    height: 44px;
    font-weight: 700;
    font-size: 15px;
  }

  &__small {
    margin-top: 30px;
    text-align: center;
    color: #777;
    font-size: 13px;
    line-height: 18px;

    & a {
      color: #6CB71D;
      text-decoration: none;
    }
  }

  &__close {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: no-repeat 50% url('./assets/images/close.svg');
    border: none;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
}